@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://cdn.syncfusion.com/ej2/material.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f8fa;
}

/* .custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown select {
  appearance: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px; 
}

.custom-dropdown::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
} */
